<%- include('header') -%>

    <% if (locals.qcms) { %>
      <ul>
        <% for (qcm of qcms) { %>
        <li><%= qcm %></li>
        <% } %>
      </ul>
    <% } %>

    <% if (locals.qcm) { %> 
      <p><%= qcm %></p>
    <% } %>

<%- include('footer') -%>